/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
  --accent-color: #ff0070;
  --side-color:#DB00FF;
  --header-color:#000028;
  --description-color:#F1B2CE;

}