/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
  --rec: visible;
  --section__title-color: #ff0070;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --front-color: #db00ff;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --description__text-color: #000028;
  --advice__text-color: #000028;
  --button-color: #ff0070;
  --back-image: url(../images/cover-image-dark.png);
}
